nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  min-height: 10vh;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.navLink #id {
  background-color: red;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
}

.req {
  border-bottom: 15px;
  border-style: solid;
  border-color: white;
}

.navLink {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  list-style: none;
  width: 30%;
  position: sticky;
  top: 0px;
  
}

li:hover {
  color: #ff4500;
}

.box {
  box-shadow: dimgray;
  width: 30%;
  height: 20%;
  border-style: solid;
}

.container {
  background-image: Linear-gradient(
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.932),
      rgba(0, 0, 0, 1)
    ),
    url("./diary.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  padding-bottom: 60px;
}

.article {
  width: 50%;
  border-left-style: hidden;
  padding-left: 0px;
  display: table-column;
  color: white;
  shape-outside: content-box;
}

.searchBar {
  width: 15%;
  padding: 10px;
  padding-left: 20px;
  font-weight: 12pt;
  border-radius: 1.5em;
  border-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product {
  width: 30%;
  height: 40%;
  border-style: double;
  padding: 20px;
  margin: 15px;
  display: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  border-color: white;
}

.btn {
  margin: 5px;
  padding: 10px;
  width: 70px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: bolder;
  border: none;
}

.proLikes {
  color: rgba(51, 206, 245, 0.904);
}

h2 {
  margin: 10px;
}

.headerContainer {
  margin-bottom: 15px;
  position: sticky;
  top: 0px;
  z-index: 999;
}

body {
  background-color:#000;
  
  padding-bottom: ;
  opacity: 1;
  position: relative;
}

.footContainer {
  bottom: auto;
  position: relative;
  top: auto;
  padding: 30px 30px 10px 30px;
  margin: 0 auto;
  background-color: white;
}

.nav :active {
  border-bottom: chartreuse;
  border-bottom-style: solid;
}

.nav :hover {
  border-bottom-color: white;
  border-bottom-style: solid;
  padding-bottom: 5px;
  border-width: 3px;
}

.getRequest {
  border-radius: 10px;
  color: white;
  background-color: black;
  text-emphasis: bold;
  height: 40px;
  width: 120px;
  border-style: solid;
  border-color: white;

  font-weight: bold;
}

.getRequest:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  border-width: 2px;
  border-style: none;
}

.tile-row {
  display: flex;
  margin-bottom: 0;
  bottom: 0;
  position: auto;
}

.tile-row > * {
  flex: 1;
  margin-bottom: 0;
}

.tile {
  border-radius: 1em;
  font-size: 15pt;
  color: black;
  padding: 2em;
  margin: 0;
}

.article .p1 {
  position: relative;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

/* CSS animations */
.article .p2 {
  position: relative;
  animation-name: slideInFromRight;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes slideInFromRight {
  0% {
    right: 800px;
  }
  100% {
    right: 0;
  }
}

@keyframes slideIn {
  0% {
    left: 800px;
  }
  100% {
    left: 0;
  }
}

.articleHeader {
  position: relative;
  animation-fill-mode: forwards;
  animation: header;
  animation-duration: 2s;
  padding-left: 5px;
}

@keyframes header {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}

.profile {
  display: relative;
  animation: fromTop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fromTop {
  0% {
    left: -800px;
  }
  100% {
    left: 0;
  }
}

.more {
  color: rgb(0, 0, 0);
  padding: 0.2em;
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.paraTile {
  text-rendering: geometricPrecision;
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bolder;
}

.footer {
  text-align: center;
  color: white;
  padding-bottom: 20em;
  font-size: 12pt;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 10px5;
}

a:hover {
  color: #ff4500;
  cursor: pointer;
}

.footer {
  text-align: center;
  color: white;
  padding-bottom: 20em;
  font-size: 12pt;
}

.footerB {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footContainer {
  position: absolute;
}

.nodeBlock {
  background-color: white;
  width: 200px;
  border-radius: 3px;
  margin: auto;
  height: fit-content;
  top: 10%;
}

.profile {
  color: white;
  width: 50%;
  padding-top: 50px;
}

.profilePicture {
  border-radius: 5em;
  border-style: solid;
  text-align: center;
  width: 10em;
  height: 10em;
  display: flex;
  margin: 0 auto;
}
.about {
  font-style: italic;
  text-align: center;
}

.aboutBtn {
  padding: 10px;
  margin-left: 10px;
  color: darkturquoise;
  border-bottom: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 20px;
}

.myTitle {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.myName {
  font-family: "Times New Roman", Times, serif;
}

.articleHeader {
  font-family: "Times New Roman", Times, serif;
}

.secPara {
  padding-top: 20px;
}

.linkedIn {
  padding: 10px;
  background-color: rgb(0, 147, 184);
  color: white;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  font-weight: bold;
  font-size: 10pt;
}

.rights {
  text-align: center;
  font-size: 12pt;
  padding-bottom: 2px;
}

.listContacts {
  list-style: none;
  padding-left: 30%;
  color: black;
}

.logo {
  width: 5em;
  height: 4em;
}

.nav {
  color: white;
}

.nav:hover {
  color: brown;
}

.contactForm {
  background-color: #fff;
  color: #fff;
  margin: 0 auto;
}

.contactContainer {
  background: white;
  margin: 5em auto;
  width: 400px;
  border-radius: 10px;
  height: min-content;
  padding: 10px;
  box-shadow: 15px 15px 15px 15px;
  box-decoration-break: slice;
}

.divider {
  color: black;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  border-style: none;
  background-color: black;
}

.enquiryText {
  text-align: center;
  font-size: 18pt;
  font-family: "Times New Roman", Times, serif;
}

.textarea {
  width: 90%;
  height: 80px;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  margin: 10px;
  border-color: black;
  border-radius: 0.5em;
  border-collapse: collapse;
  padding: 8px;
}

.cont {
  display: flex;
}

.submitBTN {
  background-color: black;
  color: white;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  font-style: 16px;
  border-radius: 0.5em;
  width: 100px;
  height: 40px;
  outline: none;
  font-size: 11pt;
  font-weight: bold;
  border-style: none;
  font-style: normal;
  margin: 0 auto;
}

.submitBTN:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.uploadBtn {
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  width: 80px;
  height: 27px;
}

.uploadGroup {
  margin: 0 auto;
}

.inputGroup {
  margin: 5px;
  font-size: 10pt;
  border-style: none none solid none;
  border-color: black;
  width: 90%;
}

.inputWrapper {
  display: grid;
}

.inputItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  -moz-box-align: center;
}

.servContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 1.5em;
}

.imageTitle {
  height: 200px;
  width: 430px;
  text-align: center;
  margin: 0 auto;
  justify-items: stretch;
}

.serviceItem {
  background: white;
  border-radius: 5px;
  opacity: initial;
}

.serviceItem :hover {
  cursor: pointer;
  background-color: rgb(104, 28, 28);
  color: white;
}

.line {
  color: white;
  width: 20%;
  border-radius: 2em;
  height: 5px;
  border-style: none;
  background-color: rgb(155, 1, 121);
}

.selectOption {
  width: 100px;
}

.servTitle {
  color: white;
  font-size: 20pt;
  text-align: center;
  margin: 0.2em;
  font-family: "Times New Roman", Times, serif;
}

.sectionHeader {
  margin: 15em;
}

.blogsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.blogItem {
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px 10px;
}

#active {
  color: black;
}

.skillContainer {
  padding: 20px;
}

.skillItem h1 {
  text-align: center;
  color: white;
  border-bottom: white;
  border-width: 10px;
  border: white;
}

.skillSection {
  background-color: rgb(24, 23, 23);
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 4px;
  color: white;
}

.aboutMyself {
  color: white;
  text-align: center;
  margin: 150px;
}

.skillNode {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
